
    $(".job-popup").html("<%= j(render partial: 'jobs/job') %>").fadeIn()

    $('.shadow-fixed').fadeIn();
    var win_p = $(window).scrollTop();
    var win_h = $(window).height();
    var pop_h = $('.job-popup').height();
    var pop_p = (win_h - pop_h)/2 + win_p;
    $('.job-popup').css('top', pop_p);