<div class="wrap">
	<h1><%= @factory.name %> </h1>
	<div class="content">
		<%= image_tag @factory.image.url(:small)%>
		<div class="padding15"></div>
		<%= @factory.about.html_safe %>
		<div class="padding15"></div>
		<%= content_tag "p", "Адрес: <strong>#{@factory.address}</strong>".html_safe if @factory.address %>
		<%= content_tag "p", "Контактный телефон: <strong>#{@factory.phone}</strong>".html_safe if @factory.phone %>
	</div>
</div>
<div class="clear"></div>
