<div class="jcarousel-wrapper">
  <div class="jcarousel">
    <ul>
      <li>
        <div class="bg"></div>
        <%= image_tag "car2.jpg", class: "img-slider slide1" %>
        <p class="photo-credits">
          <span class="title">Тритон Трейд</span>
          <br/>
          <span class="slogan">Доставляем хорошее топливо по низким ценам</span>
        </p>
      </li>
      <li>
        <div class="bg"></div>
        <%= image_tag "car3.jpg", class: "img-slider slide1" %>
        <p class="photo-credits">
          <span class="title">Тритон Трейд</span>
          <br/>
          <span class="slogan">Мы стараемся быть ближе к нашим клиентам</span>
        </p>
      </li>
      <li>
        <div class="bg"></div>
        <%= image_tag "car1.jpg", class: "img-slider slide1" %>
        <p class="photo-credits">
          <span class="title">Тритон Трейд</span>
          <br/>
          <span class="slogan">Мы доставляем только качественное топливо</span>
        </p>
      </li>
    </ul>
  </div>
  <div class="jcarousel-pagination"></div>
</div>