<section class="wrapper">
  <div class="factories">
    <h1 class="title">Заводы</h1>
    <div class="jcarousel-wrapper-responsive">
      <div class="jcarousel-responsive">
        <ul>
          <% @factories.each do |f| %>
            <%= content_tag "li", link_to(image_tag(f.image.url(:small), class: "img-slider"), factory_path(f.id)) %>
          <% end %>
        </ul>
      </div>
      <a class="jcarousel-responsive-control-prev" href="#"></a>
      <a class="jcarousel-responsive-control-next" href="#"></a>
    </div>
  </div>
</section>

