<div class="wrap">

	<div class="content">
		<h1><%= @news.title %> </h1>
		<div class="text">
			<%= @news.text.html_safe %>
		</div>

	</div>
	<!--<aside>
	<% news = News.all.active %>
	<ul>
	<% news.group_by { |b| b.created_at.year }.each do |year,news|%>
	<li class="year">
	<span class="list-group-item-info"><%= year %></span>
	<ul class="month">
	<% news.group_by{ |b| b.created_at.month }.each do |month, news |%>
	<li><a href="#" class=""><%= Russian::strftime(news.first.created_at, "%B") %>	</a></li>
	<% end %>
	</ul>
	</li>
	<% end %>
	</ul>
	</aside>-->
</div>
<div class="clear"></div>
