<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script>
	ymaps.ready(function() {
		var myMap = new ymaps.Map('map', {
			center : [55.83163901429401, 49.18854214547718],
			zoom : 16
		}),
		    myPlacemark = new ymaps.Placemark([55.83160882223887, 49.195623177276495], {
			hintContent : 'ООО Тритон Трейд'
		}, {
			iconLayout : 'default#image',
			// Своё изображение иконки метки.
			iconImageHref : '/assets/marker.png',
			// Размеры метки.
			iconImageSize : [150, 150],
			// Смещение левого верхнего угла иконки относительно
			// её "ножки" (точки привязки).
			iconImageOffset : [-75, -75]
		});
		myMap.geoObjects.add(myPlacemark);
	}); 
</script>
<div class="wrap contact-wrap">
	<div class="contact">
		<h1>Контактная информация</h1>
		<ul>
			<li>
				<p>
					420000, Республика Татарстан
					<br>
					г.Казань, ул.Журналистов д.62, оф. 319
					<br>
					Бизнес-центр "Супер Бизнес Центр".
				</p>
			</li>
			<li>
				<p>Отдел продаж: <br/> <strong>8(843) 231-22-21 </strong></p>
				<p>Отдел сопровождения: <br/> <strong>8(843) 231-22-22 </strong></p>
				<p>Юридический отдел: <br/> <strong>8(843) 231-22-24 </strong></p>
			</li>
			<li>
				<a href="#">info@tritontrade.ru</a>
			</li>
			<li>
				Работаем по будням <%= setting.work_time %>
			</li>
		</ul>
	</div>
	<!-- /.contact -->
</div>
<div id="map"></div>
<div class="padding15"></div>
<div class="wrapper">
	<div class="wrap">
	<div class="contact-person">
		<div class="contact-person-in">
			<div class="contact-person-info">	
				<h1>Руководство компании</h1>			
				<div class="contact-person-item">					
					<div class="contact-person-item-name">
						Фазуллин Ренат Ильфатович
					</div>
					<div class="contact-person-item-post">
						Генеральный директор
					</div>
					<p>
						тел. 
						<a href="#" class="contact-person-item-phone"> 
							8(843)231-22-22
						</a>
					</p>
					<p>
						<a href="#">info@tritontrade.ru</a>
					</p>
				</div>
			</div>

		</div>
	</div>
	<div class="separator"></div>
	<div class="contact-person">
		<div class="contact-person-in">
			<div class="contact-person-info">		
				<h1>Отдел продаж</h1>	
				<div class="contact-person-item">					
					<div class="contact-person-item-name">
						Иванова Регина Николаевна
					</div>
					<div class="contact-person-item-post">
						Руководитель отдела
					</div>
					<p>
						тел. 
						<a href="#" class="contact-person-item-phone"> 
							8(843)231-22-21
						</a>
					</p>
					<p>
						<a href="#">info@tritontrade.ru</a>
					</p>
				</div>
				<div class="contact-person-item">					
					<div class="contact-person-item-name">
						Вафин Тимур Ильгизарович
					</div>
					<div class="contact-person-item-post">
						Ведущий специалист
					</div>
					<p>
						тел. 
						<a href="#" class="contact-person-item-phone"> 
							8(843)231-22-23
						</a>
					</p>
					<p>
						<a href="#">info@tritontrade.ru</a>
					</p>
				</div>
				<div class="contact-person-item">					
					<div class="contact-person-item-name">
						Агафонов Александр Владимирович
					</div>
					<div class="contact-person-item-post">
						Ведущий специалист отдела сопровождения
					</div>
					<p>
						тел. 
						<a href="#" class="contact-person-item-phone"> 
							8(843)231-22-23
						</a>
					</p>
					<p>
						<a href="#">info@tritontrade.ru</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="separator"></div>
	<div class="contact-person">
		<div class="contact-person-in">
			<div class="contact-person-info">	
				<h1>Юридический отдел</h1>			
				<div class="contact-person-item">					
					<div class="contact-person-item-name">
						Загидуллин Ильфат Ильфатович
					</div>
					<div class="contact-person-item-post">
						Руководитель отдела
					</div>
					<p>
						тел. 
						<a href="#" class="contact-person-item-phone"> 
							8(843)231-22-22
						</a>
					</p>
					<p>
						<a href="info@tritontrade.ru">info@tritontrade.ru</a>
					</p>
				</div>
			</div>

		</div>
	</div>
	
	</div>
</div>
