/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require cusel
 *= require jquery.ui.scrollbar.css
 *= require jcarousel
 *= require jcarousel.responsive
 */

.popup-form {
    position: absolute;
    z-index: 999;
    background-color: #fff;
}
.popup-form.popup-callback {
    z-index: 99;
    right: 80px;
    top: 115px;
    display: none;
}
footer .popup-form.popup-callback {
    left: -16px;
    top: inherit;
    bottom: 37px;
}
.relative {
    position: relative;
}
.popup-form .title {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: 300;
    color: #273c75;
}
.shadow-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}
.popup-form .line label {
    display: block;
    font: 16px/1 'Museosanscyrl100', 'Trebuchet MS', sans-serif;

}
.popup-form .form {
    padding: 0 30px;
}
.popup-form .form input[type='text'], .popup-form .form input[type='password'] {
    width: 288px;
    height: 30px;
}
.popup-callback{
  width: auto;
}
.inp-text {
    height: 34px;
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 0 15px;
}
input, button, textarea, select {
    outline: none;
    font-size: 13px;
    color: #222222;
    font-weight: 400;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #333;
    text-decoration: none;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.btn {
    border: 0;
    width: 140px;
    height: 36px;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    background-color: #239adc;;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #fff;
    font-weight: 600;
}
.btn:hover {
    background-color: #469be4;
    color: #fff;
}
.btn:active {
    background-color: #287fca;
}
.popup-form .line {
    padding-bottom: 8px;
}
.popup-form .line-send input[type='submit']{
    width: 290px;
}
.popup-form .line-send {
    padding-top: 12px;
}
.popup-form .line-send span {
    display: block;
    text-align: center;
    color: #999999;
    font-size: 11px;
    padding-top: 8px;
}
.popup-form .line-send:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 7px solid #fff;
    top: -6px;
    left: 49px;
}
footer .popup-form .line-send:after {
    border-top: 7px solid #fff;
    border-bottom: 0;
    border-top: 7px solid #fff;
    border-bottom: 0;
    left: 54px;
    bottom: -6px;
    top: inherit;
}
.popup-form .close {
    display: block;
    width: 10px;
    height: 10px;
    background: url(/assets/icons/close-2.png) no-repeat;
    position: absolute;
    right: 15px;
    top: 15px;
}
.popup-form .close:hover {
    background-position: 0 -13px;
}
.popup-form.popup-login {
    right: 118px;
    top: -2px;
    height: 312px;
    display: none;
}
.popup-form.popup-login .line-check label {
    display: inline-block;
}
.popup-form.popup-login .line-check a {
    float: right;
}
.popup-form.popup-login .center {
    padding-top: 8px;
}

.cuselFrameRight {
    background-color: #dde7eb;
    background-position: 15px 16px;
}
.cusel-scroll-pane{
  width: auto;
}

.submit_status{
  text-align: center;
  color: #FFA200;
  margin-bottom: 10px;  
}
