.job-popup{
  position: fixed;
  width: 500px;
  margin: 0 0 0 -250px;
  left: 50%;
  background: #fff;
  padding: 20px;
  display: none;
  z-index: 10px;
  .job-popup-box{
    font: 14px/1 'Museosanscyrl100', 'Trebuchet MS', sans-serif;
  }
}
.job{
   position: relative;
   background: #87d4de;
  .job-container {
    width: 1920px;
    height: 600px;
    background: transparent url("/assets/job.jpg");
    background-position: -350px 0;
    margin: 0 auto;
  }
  .job-info{
      position: absolute;    
      left: 50%;
      width: 500px;
      top: 90px;
      margin: 0 0 0 -625px;
      
      .dg-job-header-work-slogon{
          white-space: nowrap;
          font-size: 52px;
          text-shadow: 2px 3px 5px #666;
          line-height: 60px;
          color: #FFF;
          margin-bottom: 50px;
          text-transform: uppercase;      
      }
      .dg-job-header-slogon .blue {
        background: #00ADDB none repeat scroll 0% 0%;
      }
      span {
          line-height: 40px;
          padding: 0px 8px;
          display: inline-block;
          margin: 2px 0;
      }
      .dg-job-header-slogon .green {
          background: #94CE00 none repeat scroll 0% 0%;
      }
      .dg-job-header-slogon {
          font: 18px/1 'Museosanscyrl100', 'Trebuchet MS', sans-serif;
          line-height: 44px;
          color: #FFF;
          font-size: 30px;
      }
  }
}