
@font-face {
    font-family: 'Museosanscyrl500';
	src:
		url('/assets/fonts/Museosanscyrl500.woff')  format('woff'),
		url('/assets/fonts/Museosanscyrl500.ttf')  format('truetype'),
		url('/assets/fonts/Museosanscyrl500.woff2') format('woff2');
	font-weight: normal;
    font-style: normal;
}


@font-face {
font-family: 'Museosanscyrl900';
font-style: normal;
font-weight: normal;
src: url('/assets/fonts/Museosanscyrl900.woff')  format('woff');
}

@font-face {
font-family: 'Museosanscyrl100';
font-style: normal;
font-weight: normal;
src: url('/assets/fonts/Museosanscyrl100.woff')  format('woff');
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}
img {
    border: none;
}

html {
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

body {
    font: 12px/1 'Museosanscyrl500', 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
}
h1, h2, h3{
  text-transform: uppercase;
}
a{
  cursor: pointer;
  background: transparent none repeat scroll   
}
.separator{
    border-bottom: 1px solid #E2E6E7;
    clear: both;
    margin: 0px 0px 28px;
}
#container {
    height: auto !important;
    min-height: 100%;
    position: relative;
}

#container .empty {
    height: 130px;
}
.bg-line{
	background: #e1e1e1;
}
.wrapper {
    max-width: 1920px;
    min-width: auto;
    margin: 0 auto;
}

.container {
    position: relative;
}

/* Header
-----------------------------------------------------------------------------*/
.header { 
  .header-top{
    position: absolute;
    z-index: 99;
    width: 1260px;
    margin: 20px auto 0 -610px;
    left: 50%;   
  }
  .header-menu {
    float: left;
    text-align: left;
    margin-top: 55px;
    width: 45%;
  }
  .header-menu ul, .header1-menu ul {
      overflow: hidden;
      white-space: nowrap;
  }
  .header-menu a {
      color: #fff; 
      font-size: 13px;
      text-transform: uppercase;
      margin: 0 25px 0 0;
      text-decoration: none;
      position: relative;
  }
  .header-menu a:hover {
    color: #e1e1e1;
  }
  
  .header-phone span {
      display: none;
  }
 
  .logo-main{
    float: left;
  }
  
  .feedback-container {
    float: left;
    margin: 55px 0 0 110px;
  } 
}
.wrap{
  width: 1260px !important;
  margin: 0 auto;
}

.header-page {
  font: 20px/1 'Museosanscyrl100', 'Trebuchet MS', sans-serif;
  .logo-main{
    img{
      width: 110px;
    }
  }
  .header-top{
    position: relative;
    margin:0 auto;
    left: 0;
  }
 .phone:before{   
      background-position: 100% 0px;
  }
  .header-menu{
    margin-left: 34px;
    a{
       color:#1f1f1f;
       text-transform: none;
       font-size: 16px;
    }
    a:hover {
     color: #018ce9;
    }
  }
  .phone, .btn2, a{
    color: #1f1f1f;
  }
  .btn2{
    border: solid 1px #1f1f1f;
  }
  .btn2:hover{
    color:#018ce9;
    border: solid 1px #018ce9;
    text-decoration: none;
  }
  .btn2:active{
    text-decoration: none;
  }
}
.breadcrumbs {
    background: url(/assets/order-bg.jpg);
    font-size: 12px;
    line-height: 1;
    padding: 20px 0 20px 5px;
    color: #555;
    a {
      color: #808082;
    }
    span {
      background: url(/assets/sprite.png) no-repeat -500px -50px;
      margin: 0 8px;
      display: inline-block;
      width: 4px;
      height: 5px;
      vertical-align: middle;
      margin-bottom: 1px;
    }
}
  .phone:before{
    content: "";
    background: transparent url("/assets/icons.png") repeat scroll -9px -2px;
    display: block;
    width: 37px;
    height: 37px;
    float: left;
    margin: -6px 10px 0px 0px;
  }
  .phone {
    font-size: 18px;
    float: right;
    display: block;
    letter-spacing: 1px;
    cursor: text;
    position: relative;
    margin-top: 51px;
    color: #fff; 
  }  

.btn2 {
  color: #fff;
  padding: 8px 16px;
  border: solid 1px #fff;
  font-size: 16px;
  margin: 5px 0 0 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
.btn2:hover{
  color:#e1e1e1;
  border: solid 1px #e1e1e1;
  text-decoration: none;
}
.feedback-container{
  a.feedback-button {
  }
  a:hover{
  }
}
.overlay {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}


.icons-container{
    width: 1110px;
    margin: 100px auto 60px;
    height: 300px;
    text-align: center;
}
.icons-container .item{
	float: left;
	margin: 0 217px 0 0;
    position: relative;
}
.icons-container .item:last-child{
	margin:0;
}
.icons-container figure{
	width: 136px;
	height: 142px;
	display: block;	
}
.icons-container figcaption{
	margin-top: 23px;
    font-size: 19px;
}

.icons-container figure.fuel{
	background-position: 0px -69px;
}
.icons-container figure.delivery{
	background-position: -137px -69px;
}
.icons-container figure.cooperation{
	background-position: -272px -69px;
}

.order-container {
	height: 520px;
	background: url(/assets/order-bg.jpg);
	padding: 35px 0 0 0;
}


.order-container .numeric{
    position: relative;
	float: left;
	background: #239adc;
    width: 40px;
    height: 40px;
    display: block;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    text-align: center;
	-webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.order-container .numeric .v-sp{
	position: absolute;
    height: 37px;
    margin: 36px 0 0 -6px;
    border-left: 2px solid #239adc;
}

.order-container .caption .g-sp{
  position: absolute;
  border-top: 2px solid #b0d5ed;
  margin: 10px 0 0 0;
  right: 320px;
}
.order-container .caption .g-sp1{
	width: 70px; 
}

.order-container .caption .g-sp2{
	width: 100px; 
}

.order-container .caption .g-sp3{
	width: 43px; 
}

.order-container .item{
    padding: 0 0 92px 0;
	width: 577px;
	position: relative;
}

.order-container form {
	width: 945px;
	margin: 0 auto;
	padding: 58px 0;
}

.order-container .custom-select {
    float: right;
}

.cusel {
    height: 39px;
}
.cuselText {
    color: #084c72;
    font-size: 16px;
    line-height: 38px;
}

.order-box{
    width: 1100px;
    margin: 0 auto;
}
.order-container .form-container{
    width: 630px;
    float: left;
}
.order-container .x-line{
	margin-top: 69px;
    width: 85px;
    height: 195px;
    background: url(/assets/x-line.png);
    float: left;
}

.order-container .caption{
	float: left;
    padding: 8px 0 0px 26px;
    font-size: 21px;
    text-transform: uppercase;
}
.result-order{
	background: #d2deff;
	border: solid 1px #b5cee4;
    float: left;
    padding: 6px 0 10px 0;
    width: 312px;
    margin-left: 36px;
    margin-top: 53px;
    height: 232px;
	border-radius: 2px;
}
.result-order h1{
    font-size: 22px;
    text-align: center;
    line-height: 20px;
	color: #273c75;
}
.result-order .sum-result{
    height: 45px;
    font-size: 28px;
    text-align: center;
    position: relative;
    margin-top: 24px;
    line-height: 49px;
    font-weight: bold;
    color: #fff;
	background: #239adc;
}
.result-order .sum-result::after{
	content: '';
    position: absolute;
    right: -43px;
    top: 0px;
    border: 23px solid transparent;
    border-left: 22px solid #0e7bb7;
}
.result-order .digit{

}
.result-order .digit:after{
  content: "";
  background: transparent url("/assets/icons.png") no-repeat scroll -194px 4px;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 7px;
}
.result-order .info{
  font-size: 14px;
  margin-top: 22px;
  padding-left: 31px;
  line-height: 16px;
  color: #0e7bb7;
  position: relative;
}

.result-order .info:before{
  content: "";
  width: 40px;
  height: 52px;
  margin: 0;
  padding: 0;
  float: left;
  padding-right: 71px;
  background: url(/assets/icons.png);
  background-position: -88px 0px;
}
.result-order .info .phone-number{
  line-height: 23px;
  font-size: 17px;
}



/* factories*/

.factories{
	width: 1120px;
	margin: 60px auto 70px;
}
.padding15{
	padding: 15px 0;
}

h1.title{
	text-transform: uppercase;
    font: 42px/1 'Museosanscyrl900', 'Museosanscyrl500', 'Trebuchet MS', sans-serif;
    font-weight: normal;
    text-align: center;
}
.block1 {
    text-align: center;
}

.block1 h1 {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 80px 0 35px;

}

.block1 p {
    font: italic 18px/30px 'IowanOldStyleBT-Italic', Arial, sans-serif;
}


.agency {
    padding: 95px 0 0;
    height: 280px;
}

.agency li {
    text-align: center;
    width: 33.3%;
    float: left;
    position: relative;
    list-style: none;
}

.agency li .img {
    height: 120px;
}

.agency li span {
    display: block;
    color: #010101;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.last-works {
    text-align: center;
    margin: 0 auto;
}
.last-works h2 {
    padding: 115px 0 52px;
   /* margin-bottom: 30px;*/
}
.last-works h1 {
    text-align: center;
    padding: 50px 0 43px;

    letter-spacing: 9px;
}


/* news */

.news{
  background: url(/assets/news-bg.jpg);
  height: 640px;
  padding: 50px 0;
  h1{
    color: #fff;
  }
  .news-container{
    width: 1320px;
    margin: 100px auto;
    color: #fff;
    .item{
      width: 440px;
      float: left;
      padding: 0 20px;
      font-size: 13px;
      a{
        color: #fff;
      }
      h1{
        font-size: 22px;
        text-transform: uppercase;
      }

      .more{
        font-weight: bold;
        float:left;
      }
      .announce{
        line-height: 14px;
        font-size: 12px;
      }

      .date{
        margin-left: 20px;
        float: left;
        line-height: 16px;
      }
      .date:before{
        content: "";
        float: left;
        background: url(/assets/icons.png);
        background-position: -60px -12px;
        width: 25px;
        height: 20px;
      }

    }
    .news-btn{
      text-align: center;
      display: block;
      width: 160px;
      margin: 0 auto;
      margin-top: 80px;
    }

  }
}
/* map */

.map {
  position: relative;
  color: #fff;
  height: 543px;
  .right{
    float: right;
    width: 1000px;
    z-index: 8;
    position: absolute;
    top: 0;
    right: 0;
  }
  .info,.form-box{
    float: left;
    width: 39%;
  }
  .info{
    margin-top: 300px;
    h1{
      text-transform: uppercase;
    }
  }
  .form-box{
    margin-top: 45px;
    input[type=submit]{
      background: none;
    }
    .line{
      margin: 5px 0;
    }
    input[type=text],textarea{
      width: 60%;
    }
    textarea{
      padding-top: 5px;
      height: 100px;
      resize: none;
    }
    h1{
      text-transform: uppercase;
    }
  }
  .bg{
    background: transparent url("/assets/map-bg.png") repeat scroll 11px -2px;
    width: 1183px;
    height: 544px;
    position: absolute;
    z-index: 7;
    right: 3px;
    top: 0px;
  }
}

h2 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 5px;
    text-align: center;
}

h2 span {
    font-weight: bold;
}

.last-works a {
    display: block;
    float: left;
    width: 25%;
    position: relative;
}
.last-works a.only-mobile, .last-works a.only-tablet {
    display: none;
}

.clients {
    text-align: center;
}

.clients img {
    margin: 40px 30px 32px;
    display: inline !important;
}

.btn {
    line-height: 41px;
    height: 36px;
    padding: 0 32px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: #111;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #000;
    white-space: nowrap;
}

.reviews {
    text-align: center;

}

.reviews h2 {
    padding: 6px 0 26px;
}

.reviews .jcarousel-wrapper, .reviews .jcarousel, .reviews .jcarousel li {
    max-width: 1040px;
    min-width: 780px;
}

.reviews .jcarousel, .reviews .jcarousel li {
    height: 176px;
}

.reviews .jcarousel-pagination {
    position: static;
}

.review img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    float: left;
    margin: 0 23px 0 0;
}

.review p {
    text-align: center;
    font: italic 16px/24px /*18px/24px */ 'IowanOldStyleBT-Italic', sans-serif;
    padding: 12px 0 20px;
    margin: 0 0 0 100px;
}

.review .name {
    margin: 0 20px 20px 170px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
}

.review .link {
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    color: #000;
    letter-spacing: 2px;
}

.reviews .btn {
    margin: 0 0 0 146px;
}

.reviews .btn, .reviews .jcarousel-pagination {
    display: inline-block;
    vertical-align: top;
}

.reviews .jcarousel-pagination {
    max-width: 150px;
    padding: 5px 0 0;

}

.order-design {
    width: 780px;
    margin: 120px auto 0;
    border: 1px solid #000;
    padding: 70px 0 0;

}
.order-design-content {
    margin-top: 100px;
}

.order-design h2 {
    padding-bottom: 15px;
}

.order-design input[type=text] {
    width: 330px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #dcdcdc;
    color: #b8b8b8;
    text-align: center;
    margin: 20px auto 0;
    display: block;
    font: italic 16px/1 /*18px/1 */ 'IowanOldStyleBT-Italic', sans-serif;
}

.order-design button {
    margin: 52px auto 70px;
    width: 180px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 40px;
    color: #fff;
    background: #111;
    border: none;
    display: block;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #b8b8b8;
}

::-moz-placeholder {
    color: #b8b8b8;
}

:-ms-input-placeholder {
    color: #b8b8b8;
}

input:-moz-placeholder {
    color: #b8b8b8;
}

.soc-menu {
    padding: 99px 15px 57px;
    width: 780px;
    min-width: 300px;
}

.soc-menu li {
    width: 25%;
    float: left;
    text-align: center;
    list-style: none;
    letter-spacing: 3px;
}

.soc-menu li:first-child {
    text-align: left;
}

.soc-menu li:last-child, .soc-menu li.last {
    text-align: right;
}

.soc-menu a {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}


.clear {
    clear: both;
}

/* Footer
-----------------------------------------------------------------------------*/
footer {
    background: url(/assets/bg_footer.png);
    margin: -130px auto 0;
    height: 130px;
    position: relative;

  img.logo-footer{
    width: 90px;
  }

  img.logo-footer, .footer-menu{
    float: left;
  }

  .phone-container{
    float: right;
  }

  .footer-container{
    width: 1260px;
    margin: 0 auto;
    padding: 22px 0;
  }
  .phone{
    margin-top: 25px;
  }
  nav.footer-menu {
    margin-top: 35px;
    float: left;
    margin-left: 20px;
    ul {
      overflow: hidden;
      white-space: nowrap;
      li{
        display: inline-block;
        list-style: none;
        padding: 1px 0 0;
        a{
          font-size: 13px;
          color: #fff;
          margin: 0 25px 0 0;
          text-decoration: none;
        }
      }
    }

  }


}
.footer-phone {
  float: right;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 95px 0 0 40px;
}

.footer-logo {
    width: 305px;
    margin: 0 auto;
    border-top: 1px solid #f1f1f1;
    padding: 60px 0 0;
    text-align: center;
}
.copyright, .footer-email {
    float: left;
    padding: 95px 57px 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.error {
    border-bottom: 1px solid #ff0000 !important;
    color: #ff0000;
}

.error::-webkit-input-placeholder {
    color: #ff0000;
}

.error::-moz-placeholder {
    color: #ff0000;
}

.error:-ms-input-placeholder {
    color: #ff0000;
}

input.error:-moz-placeholder {
    color: #ff0000;
}
/* InsidePage */
.h1 {
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: 400;
}
.header1 {
    padding: 52px 0 0;
    height: 88px;
}
.header1-phone {
    float: right;
    font-size: 18px;
    padding: 0 0 0 30px;
    letter-spacing: 1px;
    display: block;
    text-decoration: none;
    color: #000;
    cursor: text;
}
.header1-phone span {
    font-size: 10px;
    color: #f0464c;
    text-transform: uppercase;
    display: block;
    padding: 0 0 3px;
}
.header1-logo {
    float: left;
    display: block;
    width: 44px;
    margin-top: -4px;
}
.header1-menu {
    padding: 2px 0 0 5px;
    margin: 0 0 0 27px;
    display: block;
    float: left;
    text-align: center;
}
.header1-menu li {
    display: inline-block;
    margin: 0 2px;
    text-transform: uppercase;
    list-style: none;
    background: #fff;
}

.header1-menu a.active {
    font-family: "HypatiaSansPro-Bold", sans-serif;
}
.header1-menu a {
    color: #000;
    text-decoration: none;
    padding: 8px 13px 6px;
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
    font-size: 14px;
    border: 2px solid transparent;
    letter-spacing: 1px;
    position: relative;
}
.about-agency {
    text-align: center;
    padding: 0 0 44px;
}
.about-agency .line {
    background: #f1f1f1;
    height: 1px;
    width: 300px;
    margin: 0 auto;
}
.about-agency h1, .h1 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: 6px;
    text-align: center;
    padding: 50px 95px 40px 95px;
}
.about-agency p, .p {
    padding: 0 95px;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
}
.p {
    padding-bottom: 15px;
}
.two-columns {
    padding: 0 0 58px;
}
.two-columns > div {
    width: 48%;
    margin: 0 1% 0 0;
    display: inline-block;
    vertical-align: top;
}
.two-columns p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    padding: 0 2px 13px;
}
.block2 {
    padding: 58px 10px 50px;
    text-align: center;
    font: italic 16px/24px /*18px/1 */ 'IowanOldStyleBT-Italic', sans-serif;
}
.line1, .line2 {
    width: 60px;
    height: 2px;
    background: #000102;
    margin: 0 auto;
}
.line2 {
    margin: 0 auto 56px;
}
.clients-h2 {
    font-size: 36px;
    padding: 17px 0 0;
    letter-spacing: 7px;
}
.clients-inside .btn {
    margin-top: -12px;
    padding: 0 40px;
}
.clients-portfolio {
    margin: 140px 6px 147px;
}
.about-project {
    text-align: center;
}
.about-project h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 6px;
    text-transform: uppercase;
    padding: 50px 0 40px;
}
.about-project .p1, .about-project .p2 {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
}
.about-project .btn {
    margin: 18px auto 60px;
}
.about-project .p2 {
    margin: 95px auto 105px;
}
.about-project .img1, .about-project .img2, .about-project .img3, .about-project .img4 {
    display: block;
    margin: 0 auto;
}
.about-project .img1 {
    margin-bottom: 60px;
}
.about-project .img3 {
    margin-bottom: 96px;
}
.only-tablet, .only-mobile {
    display: none;
}
.only-desktop {
    display: block;
}
.header-menu li {
    display: inline-block;
    list-style: none;
    padding: 1px 0 0;
}
.header-menu1 li {
    padding: 1px 0 0;
}
.header-menu li.only-tablet {
    display: none;
}
.slide2, .slide3 {
    display: none;
}

@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinAround {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

.header1-logo:hover {
    -webkit-animation: spinAround 4s linear infinite;
    -moz-animation: spinAround 4s linear infinite;
    animation: spinAround 4s linear infinite;
}


rect {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 2px;
    fill: transparent;
    stroke: #000;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.header rect {
    stroke: #fff;
}

.header svg {
    margin-top: -10px;
    margin-left: -18px;
}
svg {
    width: 109px;
    height: 32px;
    position: absolute;
    padding:0;

}
li:hover rect{
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

@media all and (-webkit-min-device-pixel-ratio:0) {
    rect {
        stroke-width: 3px;
    }
    li:hover rect{
        stroke-width: 3px;
    }

}
@-moz-document url-prefix() {
    rect {
        stroke-width: 4px;
    }
    li:hover rect{
        stroke-width: 4px;
    }

}

.align-left {
    text-align: left !important;
}



p.error_p {
	color:red;
	margin-top: 25px;
	margin-bottom: 15px;
	text-align:center;
	font-size:14px;
}

input[type=text].input_error {
	border: 1px solid red;

}

.jcarousel-wrapper {
    position: relative;
    margin: 0 auto;
}

@media (max-width: 1290px) {
    .header-soc, .copyright {
        padding-left: 15px;
    }

    .header-phone, .header1-phone, .footer-phone {
        padding-right: 15px;
    }

    .jcarousel-control-prev {
        left: 15px;
    }

    .jcarousel-control-next {
        right: 15px;
    }

    .header1-logo {
        margin-left: 15px;
    }

    .two-columns p {
        padding: 0 0 0 15px;
    }
}
@media (max-width: 900px)  {
        .only-desktop, .only-mobile {
            display: none;
        }

        .last-works a.only-tablet, .last-works a.only-tablet {
            display: block;
        }

        .last-works a.only-desktop {
            display: none;
        }

        .header-menu li.only-tablet {
            display: inline-block;
        }

        .header-soc a.only-tablet {
            display: block;
        }

        .wrapper {
            min-width: 300px;
        }

        .container {
            width: auto;

        }

        .header-menu a {
            margin: 0 14px;
        }

        .header svg {
            margin-left: -3px;
        }
        .header-soc a.twitter {

            background-position: -45px 0;
        }

        .header-soc a.facebook {
            background-position: -24px 0;
        }

        .header-soc a.instagram {
            background-position: -70px 0;
        }

        .header-phone, .header1-phone {
            font-size: 14px;
            margin: 0 10px 0 18px;
            padding: 0;
        }

        .header-menu {
            margin: 40px 0 0;
            text-align: center;
        }

        .logo {
            width: 123px;
            height: 115px;
            margin-top: 205px;
        }

        .scroll-icon {
            top: 808px;
            left: 50%;
            margin-left: -12px;
            position: absolute;
            z-index: 3;

        }

        .header-text {
            position: absolute;
            top: 375px;
            width: 100%;
            text-align: center;
            z-index: 2;
        }

        .header-text {
            text-transform: uppercase;
            color: #fff;
            font: 24px/36px 'HypatiaSansPro-Light', sans-serif;
            letter-spacing: 6px;
        }

        .header-text .span1 {
            font: 60px/1 'HypatiaSansPro-ExtraLight', sans-serif;

        }

        .header-text .span2 {
            font: 60px/1 'HypatiaSansPro-Bold', sans-serif;
        }

        .block1 h1 {
            padding: 59px 0 15px;
        }

        .block1 p {
            font-size: 16px;

        }

        .agency1 {
            padding: 65px 15px 30px;
        }

        .agency1 .gray {
            color: #b8b8b8;
            font-size: 12px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        .agency1 p {
            font-size: 24px;
            line-height: 30px;
            padding: 22px 0 12px;
            letter-spacing: 4px;
            text-transform: uppercase;
        }

        .agency1 .desc {
            font: italic 17px/26px /*18px/26px*/ 'IowanOldStyleBT-Italic', Arial, sans-serif;
            padding: 0 0 20px;
        }

        .agency1 p strong {
            font-family: 'HypatiaSansPro-Bold', sans-serif;
        }

        .agency1 .link {
            line-height: 40px;
            padding: 0 20px;
            color: #fff;
            background: #111;
            font-size: 12px;
            text-transform: uppercase;
            display: inline-block;
            text-decoration: none;
            letter-spacing: 1px;
        }

        .agency2 {
            padding: 30px 15px 0;
        }

        .agency2 img {
            margin: 0 20px 0 0;
            float: left;
        }

        .agency2 .title {
            padding: 93px 0 13px;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 3px;
            text-transform: uppercase;
        }

        .agency2 .text {
            font: italic 15px/26px /*18px/26px*/ 'IowanOldStyleBT-Italic', Arial, sans-serif;
        }

        .last-works h2 {
            padding: 120px 0 25px;
        }

        .last-works a {
            width: 50%;
        }

        .clients {
            padding: 60px 0 114px;
        }

        .clients img {
            margin-top: 0;
            display: inline;
            margin-bottom: 27px;
        }

        .clients .btn {
            padding: 0 40px;
        }

        .reviews .jcarousel-wrapper, .reviews .jcarousel, .reviews .jcarousel li {
            width: 100%;
            min-width: 300px;
        }

        .review img {
            float: none;
            margin: 0 auto;
        }

        .review p {
            margin: 0 20px;
            padding-top: 20px;
            font-size: 13px;
        }

        .reviews .jcarousel, .reviews .jcarousel li {
            height: auto;
            min-height: 280px;
        }

        .order-design {
            margin: 103px 15px 0;
            width: auto;
        }

        .footer {
            width: 100%;
            min-width: 300px;
        }

        .copyright {
            padding: 172px 60px 0 15px;
        }

        .footer-email {
            padding: 172px 0 0 0;
        }

        .footer-phone {
            padding: 172px 15px 0 10px;
        }

        .header1 {
            padding-top: 38px;
            height: 98px;
        }

        .header1-phone {
            margin-bottom: 20px;
        }

        .header1-menu {
            float: none;
            clear: both;
        }
    }
@media (max-width: 670px)   {
            .slide1, .slide3 {
                display: none;
            }

            .slide2 {
                display: block;
            }

            .jcarousel, .jcarousel li {
                min-width: 300px;
                height: 900px;
            }

            .header-soc {
                margin-left: 0;
            }

            .jcarousel-control-prev, .jcarousel-control-next {
                display: none !important;
            }

            .jcarousel-pagination {
                top: 740px;
            }

            .about-project img {
                max-width: 95%;
            }

            .copyright {
                position: absolute;
                top: 173px;
                left: 15px;
                padding: 0;
            }

            .footer-email {
                position: absolute;
                top: 200px;
                left: 15px;
                padding: 0;
            }

            .footer-phone {
                position: absolute;
                top: 200px;
                padding: 0;
                right: 15px;
            }

            .footer-phone:first-child {
                top: 173px;
                padding-top: 0;
            }

            .footer {
                position: relative;
                height: 275px;
            }

            .footer-logo {
                width: 250px;
                padding-top: 55px;
            }

        }
@media (max-width: 570px) {
                .only-tablet {
                    display: none;
                }

                .only-mobile {
                    display: block;
                }

                .last-works a.only-tablet {
                    display: none;
                }

                .last-works a.only-mobile {
                    display: block;
                }

                .logo {
                    margin-top: 145px;
                }

                .header-text {
                    top: 283px;
                }

                .header-soc {
                    display: none;
                }

                .header1-logo {
                    display: none;
                }

                .header-phone {
                    margin: 0 14px 0 8px;
                    letter-spacing: 0;
                }

                .header-menu {
                    margin: 3px 0 0 0;
                }

                .header-menu, .header1-menu {
                    position: absolute;
                    top: -10px;
                    width: 100%;
                    min-width: 300px;
                    margin: 0;
                    padding: 0;
                    z-index: 4;
                    display: none;
                }

                .header svg {
                    margin-top: -1px;
                    margin-left: 0;
                }

                rect {
                    stroke: #fff;
                }

                .header rect {
                    stroke: #fff;
                }

                .header1-menu {
                    top: 0;
                }

                .header-menu li, .header1-menu li {
                    float: none;
                    display: block !important;
                    background: #111;
                }

                .header-menu a, .header1-menu a {
                    line-height: 26px;
                    display: inline-block;
                    padding: 0 12px;
                    margin: 0 auto 15px;
                    border: 2px solid transparent;
                    color: #fff !important;

                }

                .header-menu a.active, .header1-menu a.active {
                    font-family: 'HypatiaSansPro-Bold', sans-serif;
                    border-width: 1px;
                }
                .header-menu rect, .header1-menu rect {
                    stroke-width: 1px;
                }
                .header-menu li:hover rect, .header1-menu li:hover rect{
                    stroke-width: 1px;
                }

                .header-menu ul, .header1-menu ul {
                    background: #111;
                    margin: 0 15px;
                    padding: 50px 0 0;
                }

                .header-menu a.active, .header1-menu a.active {
                    border: 1px solid #fff;
                    text-decoration: none;

                }

                .menu-icon, .menu-icon1 {
                    width: 20px;
                    height: 16px;
                    margin: 0 10px 0 25px;
                    cursor: pointer;
                    z-index: 5;
                }

                .menu-icon1 {
                    margin-top: 8px;
                }

               
                .block1 p {
                    font-size: 14px;
                    line-height: 24px;
                    padding: 0 3px;
                }

                .agency1 .desc {
                    font-size: 14px;
                }

                .agency1 {
                    padding-top: 45px;
                }

                .bg1 {
                    background: none;
                }

                .agency2 img {
                    width: 270px;

                }

                .agency2 .title {
                    padding-top: 25px;
                }

                .last-works h2 {
                    font-size: 22px;
                    padding: 120px 0 100px;
                    letter-spacing: 4px;
                }

                .last-works a {
                    width: 100%;
                }

                .clients img {
                    margin-left: 0;
                    margin-right: 0;
                    width: 148px;
                }

                .review .name {
                    margin-left: 0;
                }

                .review p {
                    font-size: 16px;
                }

                .reviews .btn {
                    margin: 25px auto 15px;
                    display: block;
                    width: 150px;
                }

                .order-design input[type=text] {
                    width: 230px;
                }

                .soc-menu a {
                    margin-bottom: 15px;
                    display: inline-block;
                }

                .content {
                    padding-bottom: 275px;
                }

            }
@media (max-width: 512px) {
                    .agency2 img {
                        width: 270px;
                        margin-right: 0;
                        float: none;
                    }

                    .agency2 .title {
                        padding-top: 25px;
                    }

                    .soc-menu li {
                        width: 50%;
                        text-align: center;
                    }

                    .soc-menu li:nth-child(2) {
                        text-align: right;
                    }

                    .soc-menu li:nth-child(3) {
                        text-align: left;
                    }

                    .about-agency p {
                        padding: 0 10px;
                    }

                    .two-columns > div {
                        width: auto;
                        padding: 0 10px;
                    }
                }
@media (max-width: 350px) {

                        .logo {
                            margin-top: 145px;
                        }

                        .header-text {
                            font-size: 18px;
                            line-height: 30px;
                            width: auto;
                            padding: 0 10px;
                            top: 283px;
                        }

                        .header-text .span1, .header-text .span2 {
                            font-size: 30px;
                        }

                        .jcarousel, .jcarousel li, .img-slider {
                            height: 600px;
                        }

                        .scroll-icon {
                            top: 528px;
                            margin-left: -13px;
                        }

                        .jcarousel-pagination {
                            top: 490px;
                        }

                        .soc-menu {
                            padding-bottom: 0;
                        }

                        .soc-menu li {
                            width: 50%;
                        }

                        .soc-menu li:nth-child(3) {
                            text-align: center;
                        }

                        .order-design h2 {
                            font-size: 21px;
                        }

                        .header1-phone {
                            margin-left: 0;
                        }

                        .content {
                            padding-bottom: 225px;
                        }
                    }

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
figure {
    width: 100%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
      
figure figcaption {
    padding: 1em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
figure .title {
    display: block;
    font: italic 36px/1 Arial, sans-serif;
    letter-spacing: 0;
    padding: 26% 0 0;
    text-transform: none;
    color: #fff;
}
@media (max-width: 512px) {
    figure .title {
        padding: 26% 0 2%;
    }
}

figure p {
    display: block;
    font: 13px/18px Arial, sans-serif;
    padding: 0 10px;
    text-transform: uppercase;
    color: #fff;
}
figure img {
    width: 100%;
    vertical-align: bottom;
}

/*---------------*/
/***** Layla *****/
/*---------------*/

figure.effect-layla {
    transition: background-color 1s ease;
}
figure.effect-layla:hover {
    background: #000;

}


figure.effect-layla .title {

    opacity: 0;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
    position: absolute;
    content: '';
    opacity: 0;
}


figure.effect-layla figcaption::before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

figure.effect-layla .title {
 margin-bottom: 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-layla .p {
    padding: 0.5em 2em;
    text-transform: uppercase;
    opacity: 0;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}


figure.effect-layla .title {
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
}


figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla .p, figure.effect-layla .title {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
    opacity: 0.4;
    /*-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);*/
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


figure.effect-layla:hover .title,
figure.effect-layla:hover .p {
    opacity: 1;
    /*-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);*/
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover .title,
figure.effect-layla:hover .p{
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

ul.left-menu
{
	list-style:none;
	margin:0; padding:0;
	margin-bottom:8px;
	position: relative; /*IE bug*/
}

ul.left-menu li a
{
	font-size:100%;
	color:#BC262C;
	font-weight:bold;
	text-decoration:none;
}

ul.left-menu li a:visited
{
	color:#BC262C;
}

ul.left-menu li a:hover
{
	color:#BC262C;
}


ul.left-menu li a.selected:link, 
ul.left-menu li a.selected:visited, 
ul.left-menu li a.selected:active, 
ul.left-menu li a.selected:hover
{
	color:#FC8D3D;
}


div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}




div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}





div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */



div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
