.content{
  width: 1000px;
  float: left;
}
.all-news{

  h1{
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px 0 0 0;
    margin: 0;
  }
  .more{
    font-size: 16px;
  }
  .announce{
    line-height: 14px;
  }
  .date{
    line-height: 25px;
    margin-bottom: 15px;
    color: #808082;
    font-size: 16px;
  }    
  
}
aside{
  padding-left: 50px;
  width: 300px;
  float: left;
  ul{
    
    li{ 
      font-size: 18px;
      span{
        display: block;
        width: 200px;
        padding: 4px 10px;       
      }
      ul li{
        padding:4px 10px;
      }
    }
  }
}
