#map {
  position: relative; width: 100%; height: 543px;
}

.content{
  font: 18px/1 'Museosanscyrl100', 'Trebuchet MS', sans-serif;
  padding: 10px 0 100px;
}
.contact-wrap{
  position: relative;
  .contact {
    top: 40px;
    font: 18px/1 'Museosanscyrl100', 'Trebuchet MS', sans-serif;
    background: #ffffff;
    width: 380px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 55px 30px 35px;
    -moz-box-shadow: 0 4px 24px rgba(0, 3, 1, 0.1);
    -webkit-box-shadow: 0 4px 24px rgba(0, 3, 1, 0.1);
    box-shadow: 0 4px 24px rgba(0, 3, 1, 0.1);
    position: absolute;
    z-index: 2;
    left: 50%;
    margin: 0px 0px 0px -626px;
    li {
      font-size: 14px;
      color: #464646;
      border-top: 1px solid #e2e6e7;
      padding: 20px 0;
      p {
        font-size: 16px;
        line-height: 1.5;
      }
    }
    li:first-child {
      border: 0;
    }
    h1 {
      color: #1f1f1f;
      text-align: left;
      margin: 0 0 10px;
    }
  }
  .title {
      margin: 0 0 70px;
      padding: 50px 0 0;
      position: relative;
      clear: both;
      text-align: center;
  }
}

ul, ol {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.contact-person {
    font: 18px/1 'Museosanscyrl100', 'Trebuchet MS', sans-serif;
    margin-bottom: 24px;
    .contact-person-in {
        display: table;
        width: 100%;
    }
    .contact-person-info {
        display: table-cell;
        vertical-align: middle;
        padding: 10px 34px 34px 0;
    }
    .contact-person-item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 75px;
        font-size: 14px;
        line-height: 17px;
    }
    .contact-person-item-name {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #111111;
    }
    .contact-person-item-post {
        color: #898989;
        margin: -2px 0 16px;
    }
    .contact-person-item p {
        color: #000;
    }
    .contact-person-item-phone {
        color: #000;
        text-decoration: none;
    }
  

}
.dg-job-page-content {
    padding-bottom: 132px;
    display: inline-block;
    width: 960px;
    margin: 0px auto;
    .dg-job-left-content {
      width: 620px;
      float: left;
    }
    .dg-job-right-content {
      width: 320px;
      float: right;
    }
    .dg-job-title {
    font: 18px/1 'Museosanscyrl100', 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #666;
    line-height: 34px;
    margin-bottom: 16px;
    }
    .dg-job-default-list {
      font-size: 15px;
      margin-bottom: 20px;
      color: #555;
      list-style: inside none disc;
      line-height: 20px;
        li {
            padding-left: 15px;
            margin-bottom: 4px;
        }
    }
}