.products-container{
  font: 16px/1 'Museosanscyrl100', 'Trebuchet MS', sans-serif;
  .category-title{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;  
    margin: 15px 0;
  }
  .product-ton{font-weight: bold;}
  .product-name{ width : 300px; }
  .product-ton,.product-liter,.product-density,.product-factories{
    width : 200px; 
  }
   .product-ton,.product-liter,.product-density{
     text-align: center;
   }
  th{
    text-align: center;
  }
  tr{
    th, td{
      padding: 10px 20px;
      border: solid 1px #e1e1e1;
    }
  }
}