<div class="wrap">
	<h1>Продукция</h1>
	<div class="text">
		<div class="products-container">
			<% ProductCategory.all.active.each do |category| %>
				<div class="category-title">
					<%= category.name %>
				</div>

				<table class="products-containetable table-striped">
					<thead>
						<th>Название продукта</th>
						<th>Цена за тонну (руб.)</th>
						<th>Цена за литр (руб.)</th>
						<th>Плотность</th>
						<th>Заводы</th>
					</thead>
					<tbody>
						<% category.products.each do |product| %>
							<tr>
								<td class="product-name"> <%= product.name %> </td>
								<td class="product-ton"> <%= product.price_ton.to_s.sub(/\d{2}/, '\& ') %> </td>
								<td class="product-liter"> <%= product.price_liter %> </td>
								<td class="product-density"> <%= product.density %> </td>
								<td class="product-factories"> <%= product.factory_oils.map{|f| link_to(f.name,  factory_path(f.id))}.join(', ').html_safe %> </td>
							</tr>
						<% end %>
					</tbody>
				</table>
				<div class="separator padding15"></div>
			<% end %>
		</div>
	</div>
	<div class="clear padding15"></div>
