<footer>
  <div class="footer-container">
      <img class="logo-footer" src="/assets/logo.png"/>
      <nav class="footer-menu">
        <%= get_main_menu() %>
      </nav>
    <div class="phone-container">
      <figure class="ico phone-ico"></figure>
      <span class="phone"><%= setting.footer_phone %></span>
    </div>  </div>
</footer>