<header class="header header-page">
	<div class="header-top">
		<%= link_to image_tag("logo-blue.png"), root_path(), class: "logo-main" %>
		<nav class="header-menu">
			<%= get_main_menu() %>
		</nav>
		<div class="feedback-container">
			<a class="feedback-button btn2" href="#">Заказать звонок</a>
			<%= render partial: 'layouts/popup_callback' %>
		</div>		
		<div class="phone">
			<%= setting.header_phone %>
		</div>
	</div>
</header>
<div class="clear"></div>
<div class="breadcrumbs">
	<div class="wrap">
		<%= render_breadcrumbs :separator => "<span></span>" %>
	</div>
</div>
